.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 621px) {
  .header {
    padding-bottom: 20px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 27px;
  }
}
